.c1 {
    background-color: aqua;
    color: #000;
}

.c2 {
    color: blue;
}

.c3 {
    background-color: darksalmon;
    color: white;
}

.c4 {
    background-color: yellow;
    color: #000;
}

.c5 {
    font-size: 30px;
}

.batman {
    background-color: black;
    color: yellow;
}